<?php

return array(
    'base_url' => 'https://sahrazad.local/',
    'database' => array(
        'host' => '127.0.0.1',
        'dbname' => '',
        'user' => '',
        'pass' => '',
        'port' => 3306,
    ),
    'woocommerce' => array(
        'developer_mode' => false,
        'url' => 'https://',
        'consumer_key' => '',
        'consumer_secret' => ''
    )
);

